
.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    vertical-align:super;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

*{
    background-color: #abcdef;
}